t3_lazy_couch_potato_v0: #namespace
  n_actions: 4
  control_type: "velocity"
  
  #environment variables
  
  running_step: 0.04 # amount of time the control will be executed
  pos_step: 0.016     # increment in position for each command
  
  #qlearn parameters
  alpha: 0.5
  gamma: 0.9
  epsilon: 0.1
  epsilon_discount: 0.999
  nepisodes: 1000
  nsteps: 1000
  number_splits: 10 #set to change the number of state splits for the continuous problem and also the number of env_variable splits

  init_pos: 0.0 # Position in which the base will start
  wait_time: 0.1 # Time to wait in the reset phases